/* Global Classes */

.title-text{
    font: normal bold 30px/40px roboto;
}

.text-uppercase{
    text-transform: uppercase;
    

}

.button{
    padding: .4rem 1rem;
    font: normal 500 16px/20px roboto;
    position: relative;
    border: 3px solid transparent;
    border-radius: 4px;
}

.primary-button{
    background: var(--gradient-color);
    background-clip: padding-box;
    color: whitesmoke;
    transition: background .6s ease;
    box-shadow: var(--box-shadow);
}

.primary-button:hover{
    background: whitesmoke;
    background-clip: padding-box;
    color: #000;
}

.primary-button::after, .secondary-button::after{
    position: absolute;
    top: -3px; left: -3px;
    bottom: -3px; right: -3px;
    background: var(--gradient-color) ;
    content: '';
    z-index: -1;
    border-radius: 4px;
}

.secondary-button{
    background: white ;
    background-clip: padding-box;
    transition: background .6s ease;

}

.secondary-button:hover{
    background: var(--gradient-color);
    color: whitesmoke;
    box-shadow: var(--box-shadow);
    transition: background .5s ease;
}

p.para{
    color: var(--text-color);
    /* font: normal 400 10px roboto; */
}